.container {
  background-color: #7fc955;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.technology-list {
  list-style: none;
  padding: 0;
}

.technology-item {
  margin-bottom: 20px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.chatbot-container {
  text-align: center;
}

.fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
.technology-item {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: background-color 300ms;
}

.technology-item:hover {
  background-color: #f7f7f7;
}

.description {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms, opacity 300ms;
}

.technology-item.active .description {
  opacity: 1;
  max-height: 100px; /* Укажите желаемую высоту для текста */
}

